# Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet

In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
#prinf the value inside df
df

     day  temperature  windspeed  event
0  42736           32          6   Rain
1  42737           35          7  Sunny
2  42738           28          2   Snow
3  42739           24          7   Snow
4  42740           32          4   Rain
5  42741           31          2  Sunny

# If you want to create own dataset using python dictionary

In [3]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
#data structure list, tuple, set, dictionary

In [45]:
import pandas as pd
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df.to_csv('mohit.csv')

In [15]:
#print shape i.e. dimenstion
df.shape

(6, 4)

In [43]:
#print shape i.e. dimenstion with stroing in a variable
rows,column=df.shape
print("Rows=",rows)
print("Col=", column)

Rows= 6
Col= 4

In [18]:
#Print initails few rows, first 5
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [45]:
#Print initails two rows
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [23]:
#Print last two rows
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [27]:
#Print Row number 2 to 4
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [48]:
#Print only name of the columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [49]:
#Print indivual columns
df.day
#df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [30]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [50]:
#print the type of colums
type(df.day)

pandas.core.series.Series

In [32]:
#print only few colums [[]]
df1=df[['day','temperature']]

In [34]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [48]:
#axis 1 means select column, o means select rows
df2=df.drop(['windspeed','event'],axis=1)

In [49]:
df2

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [50]:
df.temperature.min()

24

In [28]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [62]:
#To print temperature greater or equal to 32
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [64]:
df[df.temperature>=df.temperature.max()]
#or you can use
#df[df.temperature>=df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [67]:
df['day', 'temperature']][df.temperature>=df.temperature.max()]

SyntaxError: invalid syntax (<ipython-input-67-398a9dfd354b>, line 1)